.modal-header{
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.modal .modal-content .modal-header{
  padding: 15px;
}

.sidebar .nav .nav-item-fixed-bottom{
  position: absolute;
  width: 100%;
  bottom: 10px;
}

@media(max-width: 991px){
  .sidebar .nav .nav-item-fixed-bottom{
    position: relative !important;
  }
}

.card .card-loading{
  position: absolute;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
}

.card-dropdown-tabs .show .dropdown-menu{
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.card-dropdown-tabs .show.dropdown-menu{
  opacity: 1;
  visibility: visible;
}

/* Select 2 */
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}
.select2-container--default .select2-selection--single{
  border: 1px solid #E3E3E3 !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 8px 12px;
}

.card-stats:hover .card-hover-danger,
.table-responsive{
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

.menu-notifications .dropdown-item{
  line-height: 1em;
}

.fa{
  width: auto;
}

.modal.show .modal-dialog.dialog-top{
  -webkit-transform: translate(0, 5%);
  -o-transform: translate(0, 5%);
  transform: translate(0, 5%);
}

.card-stats:hover .card-hover-danger{
  color: #FF4A55 !important
}
.nav-mobile-menu .menu-notifications a{
  color: rgba(255, 255, 255, .7) !important;
  padding: 8px !important;
  margin: 5px 0 0 0 !important; 
}

/* Fix light-bootstrap-dashboard */
button:hover{
  cursor: pointer;
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
  padding-right: 15px;
  display: table-cell;
}

.btn-danger.btn-link,
.btn-success.btn-link,
.btn-info.btn-link,
.btn-primary.btn-link,
.btn-warning.btn-link{
  border-color: transparent !important;
  background-color: transparent !important;
}

h1, h2, h3, h4, h5{
  margin: 15px 0;
}

.alert button.close{
  color: #000;
}

.modal .modal-content .modal-header h4{
  margin: 0 !important;
}
.navbar .navbar-nav .nav-item .nav-link [class^="fa"]{
  line-height: 1;
}

.tooltip.in{
  filter: alpha(opacity=90);
  opacity: .9;
}

.btn-primary.disabled, .btn-primary:disabled{
    border-color: #3472F7;
    color:  #3472F7;
}
button:disabled:hover{
  cursor: default;
}

/* checkbox */
.form-check{
  padding-left: 0;
}
.form-check .form-check-label{
  padding-left: 25px;
}
.form-check .form-check-sign::before, .form-check .form-check-sign::after{
  color: #888888;
  margin-left: -23px;
  font-size: 18px;
  margin-top: 0;
}
.form-check .form-check-sign::after{
  color: #23CCEF;
}
.form-check input[type="checkbox"]:checked + .form-check-sign::before {
  opacity: 0;
}
.table-sm td, .table-sm th{
  padding: .3rem !important;
}
.sidebar .nav .nav-item .nav-link{
  margin: 5px 15px 0px 10px;
  padding: 10px 15px;
  white-space: nowrap;
}
.sidebar .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-top: 13px;
  position: absolute;
  right: 0;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
.sidebar .nav, body > .navbar-collapse .nav {
  margin-top: 0;
}
.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"] ~ div .nav .nav-item .nav-link {
  background: transparent;
  padding-left: 55px;
  text-transform: capitalize;
  padding: 5px 15px 5px 15px;
  font-weight: 400;
  font-size: 14px;
}
.sidebar .sidebar-wrapper .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini {
  text-transform: uppercase;
  float: left;
  width: 30px;
  text-align: center;
  letter-spacing: 1px;
}
.sidebar .nav .nav-item .nav-link .sidebar-mini {
  padding-left: 5px !important;
  opacity: .86 !important;
}
.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"] ~ div .nav .sidebar-normal {
  left: 15px;
}
.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
.sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
.off-canvas-sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
.off-canvas-sidebar .sidebar-wrapper .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
  margin: 0;
  position: relative;
  transform: translateX(0px);
  opacity: 1;
  white-space: nowrap;
  display: inline-block;
  line-height: 23px;
}
.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"] ~ div .nav .nav-item:hover .nav-link,
.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"] ~ div .nav .nav-item:focus .nav-link,
.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"] ~ div .nav .nav-item.active .nav-link {
  background: rgba(255, 255, 255, 0.13);
}
.sidebar a[data-toggle="collapse"][aria-expanded="true"] .caret,
.sidebar .btn[data-toggle="collapse"][aria-expanded="true"] .caret,
.sidebar a.dropdown-toggle[aria-expanded="true"] .caret {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.calendar-small .fc-header-toolbar h2{
  font-size: 18px !important;
}
.calendar-small .fc-header-toolbar button{
  font-size: 14px !important;
}
.calendar-small table{
  font-size: 12px;
}
.fc .fc-highlight-container .fc-highlight{
  background-color: #bfe5c7;
  opacity: .7;
}

/* Fileinput */
#foto-group .input-group-btn .btn{
  padding: .375rem .75rem !important;
}
.krajee-default.file-preview-frame, .krajee-default.file-preview-frame:hover{
  box-shadow: none !important;
}
.krajee-default.file-preview-frame .file-thumbnail-footer{
  height: auto !important;
}
.krajee-default.file-preview-frame .file-thumbnail-footer .file-footer-caption{
  margin-bottom: 0;
}
.krajee-default.file-preview-frame .file-thumbnail-footer .file-upload-indicator,
.krajee-default.file-preview-frame .file-thumbnail-footer .clearfix{
  display: none;
}
#foto-group .btn:hover{
  cursor: pointer;
}

/* Media thumbs */
.media-thumbs{
  border: 1px solid rgba(0,0,0,.2);
}
.media-thumbs .media-thumbs-options{
  text-align: right;
}
.media-thumbs .media-thumbs-options .btn-xs{
  font-size: 8px;
  padding: 3px 5px;
}
.media-thumbs .media-thumbs-content{
  height: 80px;
  text-align: center;
}
.media-thumbs .media-thumbs-content img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-style: none;
}
